@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap')

body
    background-color: lavender
    font-family: "Jersey 20", sans-serif
    color: DarkSlateBlue
    font-size: 18px

.debug
    outline: 10px solid red

#app 
    padding: 50px
    display: flex
    align-items: center
    justify-content: center
    height: 100vh

#game-container
    width: 700px
    height: 400px
    position: relative
    overflow: hidden
    border-radius: 8px
    border: 1px solid red

    #game-start,
    #game-lose,
    #game-win
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        transition: 0.2s all ease-in-out
        background: #1f1e2179
        color: white
        display: flex
        flex-direction: column
        align-items: center
        text-align: center
        justify-content: center
        h2 
            font-size: 3rem
            letter-spacing: 1px
            margin-bottom: 20px
            font-weight: 400
        button
            color: #13122C
            font-family: "Jersey 20", sans-serif
            letter-spacing: 0.6px
            background-color: #fff
            border: 0
            border-radius: 10px
            font-size: 2rem
            padding: 10px 26px
            box-shadow: 0 20px 30px #39020247
            transition: 0.2s all ease-in-out
            &:hover,
            &:focus
                color: #fff
                background-color: #421a03
                outline: none
                
    #game-start
        transition: 0.2s all ease-in-out
        z-index: 999999999
    #game-lose
        transition: 0.2s all ease-in-out
        display: none
    #game-win
        transition: 0.2s all ease-in-out
        display: none
    #game-screen
        transition: 0.2s all ease-in-out
        width: 3000px
        height: 400px
        .game-strawberry
            position: absolute
            z-index: 9999
            bottom: 80px
        .bg-branches
            display: none
        .bg-branch
            height: 100%
            position: absolute
            top: 0
            z-index: 9999
        .bg-branch1
            left: -14px
        .bg-branch2
            left: 900px
        .bg-branch3
            left: 1772px
        .bg-bush
            position: absolute
            left: 800px
            width: 100px
            bottom: 96px
        #game-background
            position: absolute
            z-index: 0
            top: 0
            left: 0
            width: 3000px
            height: 400px
            background-image: url(../images/bg2.jpg)
            background-size: contain
            background-position-x: -250px
            background-position-y: center
        .game-stats
            z-index: 8
            display: none
            justify-content: space-between
            width: 700px
            position: absolute
            .game-score,
            .game-lives
                margin: 15px
                display: flex
                align-items: center
                height: 20px
                margin: 10px
                p
                    margin: 0 0 0 5px
                    font-weight: 900
                    font-size: 25px
                    line-height: 0
                    color: #13122C
            .game-lives-thing
                width: 19px
                height: 19px
                margin: 0 3px
                display: inline-block
                background-repeat: no-repeat
                background-position: center center
                background-size: contain
            .game-lives-empty
                background-image: url(../images/heart.svg)
            .game-lives-full
                background-image: url(../images/heart-fill.svg)
    .game-ground
        position: absolute
        width: 100%
        bottom: 0
        left: 0
        z-index: 1
        background-color: #13122C
        display: block
    .game-player
        position: absolute
        background-color: #13122C
        display: inline-block
        z-index: 10
        border-radius: 24px 24px 0 0
        background-image: url(../images/eyes.png)
        background-size: 41px
        background-repeat: no-repeat
        background-position: 13px 13px
        &.game-player-sad
            background-image: url(../images/player-sad.png)
            background-size: 41px
            background-repeat: no-repeat
            background-position: 13px 13px
    .game-enemy
        position: absolute
        background-color: #13122C
        display: inline-block
        z-index: 10
        border-radius: 50%
        background-image: url(../images/enemy.jpg)
        background-size: cover
        background-repeat: no-repeat
        background-position: top left