body
    background-color: lavender
    font-family: sans-serif
    color: DarkSlateBlue
    font-size: 18px

h1
    font-size: 3rem
    color: SlateBlue
    font-weight: 800
    border-bottom: 8px solid orange
    display: inline-block

h5
    font-weight: 800

.card
    border-radius: 10px
    overflow: hidden

#app 
    padding: 50px
    display: flex
    align-items: center
    justify-content: center
    height: 100vh

#game-container
    width: 700px
    height: 400px
    position: relative
    overflow: hidden
    border-radius: 8px
    border: 1px solid red

    #game-end
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        transition: all 0.3s ease-in-out
        background: #383a8f
        color: white
        display: flex
        align-items: center
        text-align: center
        justify-content: center
        font-size: 2rem
        font-weight: 800
        letter-spacing: 1px
        display: none

    #game-screen
        transition: all 0.3s ease-in-out
        width: 3000px
        height: 400px
        .game-background
            position: absolute
            z-index: 0
            top: 0
            left: 0
            width: 3000px
            height: 400px
            background-image: url(../images/bg2.jpg)
            background-size: contain
            background-position-x: -250px
            background-position-y: center
        .game-stats
            z-index: 8
            display: flex
            justify-content: space-between
            width: 700px
            position: absolute
            .game-score,
            .game-lives
                margin: 15px
                display: flex
                align-items: center
                img
                    width: 20px
                    height: 20px
                    margin: 0 5px
                    display: inline-block
                p
                    margin: 0
                    font-weight: 900
                    font-size: 20px
                    line-height: 1
                    color: #13122C
                

    .game-ground
        position: absolute
        width: 100%
        bottom: 0
        left: 0
        z-index: 1
        background-color: #13122C
        display: block

    .game-player
        position: absolute
        background-color: #13122C
        display: inline-block
        z-index: 10
        border-radius: 24px 24px 0 0
        background-image: url(../images/eyes.png)
        background-size: 41px
        background-repeat: no-repeat
        background-position: 13px 13px

    .game-enemy
        position: absolute
        background-color: #13122C
        display: inline-block
        z-index: 10
        border-radius: 50%
        background-image: url(../images/enemy.jpg)
        background-size: cover
        background-repeat: no-repeat
        background-position: top left